<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Track Attack</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="index is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1 id="logo"><a href="index.ejs">Track Attack <span>By Malik Campbell</span></a></h1>
					<nav id="nav">
						<ul>
							<li class="current">Welcome</a></li>
							<!-- <li class="submenu">
								 <a href="#">Layouts</a>
								<ul>
									 <li><a href="left-sidebar.html">Left Sidebar</a></li>
									<li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
									 <li><a href="contact.html">Contact</a></li> 
									 <li class="submenu">
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Dolore Sed</a></li>
											<li><a href="#">Consequat</a></li>
											<li><a href="#">Lorem Magna</a></li>
											<li><a href="#">Sed Magna</a></li>
											<li><a href="#">Ipsum Nisl</a></li>
										</ul>
									</li> 
								</ul>
							</li> -->
							<li><a href="/login" class="button primary">Log In</a></li>
							<li><a href="/signup" class="button primary">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">

					<!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
					<div class="inner">

						<header>
							<h2>Track Attack</h2>
						</header>
						<p>This is <strong>Track Attack</strong>,where all your
						<br />
						track needs are met 
						<br />
						<!-- by <a href="http://html5up.net">HTML5 UP</a>.</p> -->
						<footer>
							<ul class="buttons stacked">
								<li><a href="#main" class="button fit scrolly">Tell Me More!</a></li>
							</ul>
						</footer>

					</div>

				</section>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon solid fa-chart-bar"></span>
						<h2>This site was <strong>MADE</strong> for track day goers that needed a way to keep up with their own stats
						<br />
						Take a look around and see whats out here for you</h2>
						<p>Right now we are dedicatiing <strong>Track Attack</strong> to only motorcycles.
						<br />
						Later cars will be added along with more tracks.
						<br />
						</p>
					</header>

					<!-- One -->
						<section class="wrapper style2 container special-alt">
							<div class="row gtr-50">
								<div class="col-8 col-12-narrower">

									<header>
										<h2>Try our <strong>Calorie Calculator</strong> to find out how much calories you need to intake to not be malnurished. We also have a <strong>Tire Finder</strong> to get what tire you might want to try out!</h2>
									</header>
									<p> Sign up and start using <strong>ASAP</strong>.</p>
									<footer>
										<ul class="buttons">
											<li><a href="/signup" class="button">Sign Up</a></li>
										</ul>
									</footer>

								</div>
								<div class="col-4 col-12-narrower imp-narrower">

									<ul class="featured-icons">
										<li><span class="icon solid fa-tire"><span class="label">Feature 1</span></span></li>
										<li><span class="icon solid fa-calculator"><span class="label">Feature 2</span></span></li>
										<li><span class="icon solid fa-rim"><span class="label">Feature 3</span></span></li>
										<li><span class="icon solid fa-inbox"><span class="label">Feature 4</span></span></li>
										<li><span class="icon solid fa-lock"><span class="label">Feature 5</span></span></li>
										<li><span class="icon solid fa-cog"><span class="label">Feature 6</span></span></li>
									</ul>

								</div>
							</div>
						</section>

					<!-- Two -->
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="col-4 col-12-narrower">

									<section>
										<span class="icon solid featured fa-question"></span>
										<header>
											<h3>Isn't a track day just going around in circles?</h3>
										</header>
										<p>While it may turn out to be the most fun you’ve ever had on a motorcycle, a track day should mainly be a learning experience. Take a structured school, if you can afford one. But just about any track-day organization offers instruction at no extra cost to novice-class riders or those on track for the first time.</p>
									</section>

								</div>
								<div class="col-4 col-12-narrower">

									<section>
										<span class="icon solid featured fa-question"></span>
										<header>
											<h3>I have been riding for so long I know how to ride!</h3>
										</header>
										<p>Twenty years of riding can be 20 years of progressive improvement or 20 years of repeating (and ingraining) the same first-year mistakes and bad habits. Some schools videotape students, which can be an eye-opening experience. You may think you’re smoothly arcing through the corner at full lean, but if the tape shows you wobbling through with half your lean angle unused, then you know exactly where you can improve.</p>
									</section>

								</div>
								<div class="col-4 col-12-narrower">

									<section>
										<span class="icon solid featured fa-question"></span>
										<header>
											<h3>But I took the MSF(Motorcycle Safty Foundation) course?!</h3>
										</header>
										<p>This is not an either/or proposition. MSF courses are great for learning basic skills, but there are some things you can’t learn in a parking lot with some cones, such as how to downshift and brake while positioning your body weight to prepare for the approaching curve at 100 mph. Skills like that could save your hide on the street.</p>
									</section>

								</div>
							</div>
						</section>

					<!-- Three -->
						<section class="wrapper style3 container special">

							<header class="major">
								<h2>Race Tracks in New England</h2>
							</header>

							<div class="row">
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="/public/img/palmer.jpeg" alt="" /></a>
										<header>
											<h3>Palmer</h3>
										</header>
										<p><img src="/public/img/palmer.jpeg" alt="" /></p>
									</section>

								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="public/" alt="" /></a>
										<header>
											<h3>Canaan</h3>
										</header>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
									</section>

								</div>
							</div>
							<div class="row">
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="/img/thompson.jpeg" alt="" /></a>
										<header>
											<h3>Thompson</h3>
										</header>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
									</section>

								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="/img/nemrr.jpeg" alt="" /></a>
										<header>
											<h3>North East Motorcycle Road Racing</h3>
										</header>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
									</section>

								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="/img/nemrr.jpeg" alt="" /></a>
										<header>
											<h3>North East Motorcycle Road Racing</h3>
										</header>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
									</section>

								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="/img/nemrr.jpeg" alt="" /></a>
										<header>
											<h3>North East Motorcycle Road Racing</h3>
										</header>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
									</section>

								</div>
							</div>

							<!-- <footer class="major">
								<ul class="buttons">
									<li><a href="#" class="button">See More</a></li>
								</ul>
							</footer> -->

						</section>

				</article>

			<!-- CTA -->
				<section id="cta">

					<header>
						<h2>Ready to do <strong>something</strong>?</h2>
						<p>Proin a ullamcorper elit, et sagittis turpis integer ut fermentum.</p>
					</header>
					<footer>
						<ul class="buttons">
							<li><a href="#" class="button primary">Test</a></li>
							<li><a href="#" class="button">LOL Wut</a></li>
						</ul>
					</footer>

				</section>

			<!-- Footer -->
				<footer id="footer">

					<ul class="icons">
						<li><a href="#" class="icon brands circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands circle fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands circle fa-github"><span class="label">Github</span></a></li>
					</ul>

					<!-- <ul class="copyright">
						<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul> -->

				</footer>

		</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.dropotron.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>