<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Track Attack</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="index is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1 id="logo"><a href="index.ejs">Track Attack <span>By Malik Campbell</span></a></h1>
					<nav id="nav">
						<ul>
							<li class="current">Welcome</li>
							<li><a href="/login" class="button primary">Log In</a></li>
							<li><a href="/signup" class="button primary">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">

					<!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
					<div class="inner">

						<header>
							<h2>Track Attack</h2>
						</header>
						<p>This is <strong>Track Attack</strong>,where all your
						<br />
						track needs are met 
						<br />
						<!-- by <a href="http://html5up.net">HTML5 UP</a>.</p> -->
						<footer>
							<ul class="buttons stacked">
								<li><a href="#main" class="button fit scrolly">Tell Me More!</a></li>
							</ul>
						</footer>

					</div>

				</section>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon solid fa-chart-bar"></span>
						<h2>This site was <strong>MADE</strong> for track day goers that needed a way to keep up with their own stats
						<br />
						Take a look around and see whats out here for you</h2>
						<p>Right now we are dedicatiing <strong>Track Attack</strong> to only motorcycles.
						<br />
						Later cars will be added along with more tracks.
						<br />
						</p>
					</header>

					<!-- One -->
						<section class="wrapper style2 container special-alt">
							<div class="row gtr-50">
								<div class="col-8 col-12-narrower">

									<header>
										<h2>Try our <strong><a href="/calculator.ejs">Calorie Calculator</a></strong> to find out how much calories you need to intake to not be malnurished. We also have a <strong>Tire Finder</strong> to get what tire you might want to try out!</h2>
									</header>
									<p> Sign up and start using <strong>ASAP</strong>.</p>
									<footer>
										<ul class="buttons">
											<li><a href="/signup" class="button">Sign Up</a></li>
										</ul>
									</footer>

								</div>
								<div class="col-4 col-12-narrower imp-narrower">

									<ul class="featured-icons">
										<li><span class="icon solid fa-person"><span class="label">Feature 1</span></span></li>
										<li><span class="icon solid fa-calculator"><span class="label">Feature 2</span></span></li>
										<li><span class="icon solid fa-rim"><span class="label">Feature 3</span></span></li>
										<li><span class="icon solid fa-lock"><span class="label">Feature 4</span></span></li>
										<li><span class="icon solid fa-"><span class="label">Feature 5</span></span></li>
										<li><span class="icon solid fa-cog"><span class="label">Feature 6</span></span></li>
									</ul>

								</div>
							</div>
						</section>

					<!-- Two -->
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="col-4 col-12-narrower">

									<section>
										<span class="icon solid featured fa-question"></span>
										<header>
											<h3>Isn't a track day just going around in circles?</h3>
										</header>
										<p>While it may turn out to be the most fun you’ve ever had on a motorcycle, a track day should mainly be a learning experience. Take a structured school, if you can afford one. But just about any track-day organization offers instruction at no extra cost to novice-class riders or those on track for the first time.</p>
									</section>

								</div>
								<div class="col-4 col-12-narrower">

									<section>
										<span class="icon solid featured fa-question"></span>
										<header>
											<h3>I have been riding for so long I know how to ride!</h3>
										</header>
										<p>Twenty years of riding can be 20 years of progressive improvement or 20 years of repeating (and ingraining) the same first-year mistakes and bad habits. Some schools videotape students, which can be an eye-opening experience. You may think you’re smoothly arcing through the corner at full lean, but if the tape shows you wobbling through with half your lean angle unused, then you know exactly where you can improve.</p>
									</section>

								</div>
								<div class="col-4 col-12-narrower">

									<section>
										<span class="icon solid featured fa-question"></span>
										<header>
											<h3>But I took the MSF(Motorcycle Safty Foundation) course?!</h3>
										</header>
										<p>This is not an either/or proposition. MSF courses are great for learning basic skills, but there are some things you can’t learn in a parking lot with some cones, such as how to downshift and brake while positioning your body weight to prepare for the approaching curve at 100 mph. Skills like that could save your hide on the street.</p>
									</section>

								</div>
							</div>
						</section>

						<section class="special container">
							<span class="icon solid fa-feed"></span>
							<h2><strong>Personal Best</strong></h2>
							<div class="container">
								<div class="feed" id="feed">
									<!-- feed content -->
									
										<div class="feed-item">
											
										</div>
									
								</div>
							</div>
						</section>

						

					<!-- Three -->
						<section class="wrapper style3 container special">

							<header class="major">
								<h2>Race Tracks in New England</h2>
							</header>

							<div class="row">
								<div class="col-6 col-12-narrower">

									<section>
										<a href="https://www.palmermotorsportspark.com/" class="image featured"><img src="/img/palmerTrack.jpeg" alt=""/></a>
										<header>
											<h3>Palmer</h3>
										</header>
										<p>Palmer Motorsports Park offers a 2.3-mile road course with 190' vertical elevation, 14 cambered corners, and races in both directions. It provides private memberships, paddock amenities, and 24/7 surveillance for a secure and enjoyable experience.</p>
									</section>

								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="http://www.canaanmotorclub.com/" class="image featured"><img src="/img/canaanTrack.png" alt="" /></a>
										<header>
											<h3>Canaan</h3>
										</header>
										<p>The CMC is a 1.3 mile long technically challenging road course with extensive run off areas to promote a safe environment for all track users. The track was designed to run in both directions to give a total of 2.6 miles with nine major turns. The track can be configured to run two separate karting or solo events at the same time.</p>
									</section>

								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="https://www.thompsonspeedway.com/" class="image featured"><img src="/img/thompSpeedCT.webp" alt="" /></a>
										<header>
											<h3>Thompson</h3>
										</header>
										<p>Thompson Speedway is a 2.2-mile track with 18 turns, 450-foot elevation change. Amenities include picnic areas, BBQ facilities, biking/rollerblading, mechanic shop, motorcycle storage. Ideal for motorsports enthusiasts seeking thrilling experiences and convenient amenities.</p>
									</section>

								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="https://nemrr.com/" class="image featured"><img src="/img/nemrr.jpeg" alt="" /></a>
										<header>
											<h3>North East Motorcycle Road Racing</h3>
										</header>
										<p>NEMRR is a thrilling motorsports organization dedicated to mini road racing. NEMRR offers a welcoming atmosphere, fostering camaraderie and a love for the sport. Whether you're a seasoned racer or a beginner, NEMRR is the place for exhilarating mini road racing experiences.</p>
									</section>

								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="https://nyst.com/" class="image featured"><img src="/img/nyst.jpeg" alt="" /></a>
										<header>
											<h3>New York Safety Track</h3>
										</header>
										<p>New York Safety Track is a 2.2-mile track with 18 turns and a 450-foot elevation change. Enjoy thrilling motorcycle and car track days, while also taking advantage of picnic areas, BBQ facilities, biking and rollerblading areas, a mechanic shop, motorcycle storage, and more.</p>
									</section>

								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="https://www.n2td.org/track-days/tracks-we-ride/pocono-raceway/" class="image featured"><img src="/img/pocono.jpeg" alt="" /></a>
										<header>
											<h3>Pocono Raceway</h3>
										</header>
										<p>Pocono Raceway's motorcycle track in Long Pond, Pennsylvania offers a thrilling 2.5-mile course with challenging turns and a high-speed experience for riders of all levels. It's the perfect venue for motorcycle racing events and track days, providing an adrenaline-fueled adventure in a professional-grade facility.</p>
									</section>

								</div>
							</div>

							<!-- <footer class="major">
								<ul class="buttons">
									<li><a href="#" class="button">See More</a></li>
								</ul>
							</footer> -->

						</section>

				</article>

			<!-- CTA -->
				<!-- <section id="cta">

					<header>
						<h2>Ready to do <strong>something</strong>?</h2>
						<p>Proin a ullamcorper elit, et sagittis turpis integer ut fermentum.</p>
					</header>
					<footer>
						<ul class="buttons">
							<li><a href="#" class="button primary">Test</a></li>
							<li><a href="#" class="button">LOL Wut</a></li>
						</ul>
					</footer>

				</section> -->

			<!-- Footer -->
				<footer id="footer">

					<ul class="icons">
						<li><a href="https://twitter.com/malikcgdev" class="icon brands circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.linkedin.com/in/malik-campbell-greene/" class="icon brands circle fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="https://github.com/icodeherenthere" class="icon brands circle fa-github"><span class="label">Github</span></a></li>
					</ul>

					<!-- <ul class="copyright">
						<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul> -->

				</footer>

		</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.dropotron.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>